
@darkest: #333;
@darker: #808080;
@dark: #CCCCCC;
@light: #EAEAEA;
@lighter: #F0F0F0;
@lightest: #FAFAFA;

@dark-red: #CC0000;
@light-red: #FF4444;

@dark-blue: #0099CC;
@light-blue: #33B5E5;

@dark-orange: #FF8800;
@light-orange: #FFBB33;

@dark-green: #669900;
@light-green: #99CC00;

@navbar-height: 48px;

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  color: @darkest;
  padding-top: @navbar-height;
  background: @lightest;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
  &:hover {
    color: @dark-red;
    text-decoration: none;
  }
}

@small-margin: 10px;

.navbar {
  height: @navbar-height;
  width: 100%;
  line-height: @navbar-height;
  border-bottom: 1px solid @light;
  background: white;
  h1, ul, li {
    display: inline-block;
  }
  li a {
    padding: 0 @small-margin;
    border: none;
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

@large-margin: 20px;

h1[role=banner] {
  margin-right: @large-margin;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  a {
    border: none;
  }
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

@inner-width : 1000px;

.navbar-inner {
  margin: auto;
  width: @inner-width;
  position: relative;
  padding: 0 @large-margin;
}

.navbar-right {
  position: absolute;
  top: 0;
  right: @large-margin;
}

.content-inner {
  width: @inner-width;
  margin: auto;
  position: relative;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  color: @darkest;
  margin: 0;
}

.annotation {
  font-size: 12px;
  margin: @large-margin;
  line-height: 18px;
}

.idea {
  background: white;
  border: 1px solid @light;
  margin: @large-margin 0;
  padding: @small-margin;
  -webkit-box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .1);
     -moz-box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .1);
          box-shadow: 0 3px 4px -3px rgba(0, 0, 0, .1);
}

form {
  margin: 0;
  padding: 0;
}

input.link {
  border: 0;
  padding: 0;
  background: none;
  color: black;
  cursor: pointer;
  &:hover {
    color: @dark-red;
  }
}

footer {
  padding: @small-margin @large-margin;
  border-top: 1px solid @light;
  background: white;
  font-size: 13px;
  ul li {
    display: inline-block;
    margin: @small-margin;
    color: @darker;
    a {
      color: @darker;
      border-bottom: none;
      &:hover {
        color: @darkest;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

.pager {
  margin: @large-margin;
  ul li {
    display: inline-block;
    margin: @small-margin;
  }
}

@xsmall-margin: 5px;

fieldset {
  padding: 0;
  margin: @small-margin;
  border: none;
}

input, textarea {
  border: 1px solid @light;
  &:focus {
    border-color: @dark;
  }
}

input[type=date], input[type=time] {
  width: auto;
  margin: 0 @xsmall-margin;
}

input[type=text], input[type=number], input[type=email], textarea {
  padding: @small-margin;
}

.full-width {
  width: 100%;
}

textarea {
  height: 300px;
}

*:focus {
    outline: 0;
}

.button {
  background: @light-orange;
  color: white;
  -webkit-box-shadow: 0 0 5px 0 @dark-orange;
     -moz-box-shadow: 0 0 5px 0 @dark-orange;
          box-shadow: 0 0 5px 0 @dark-orange;
  border: 1px solid white;
  padding: @small-margin;
  outline: none;
  font-weight: bold;
  &:active, input:checked + & {
    background: @dark-orange;
    border: 1px solid white;
    outline: none;
  }
}

.button.button-green {
  background: fade(@light-green, 50%);
  -webkit-box-shadow: 0 0 5px 0 @dark-green;
     -moz-box-shadow: 0 0 5px 0 @dark-green;
          box-shadow: 0 0 5px 0 @dark-green;
  &:active, input:checked + & {
    background: @dark-green;
  }
}

.button.button-red {
  background: fade(@light-red, 50%);
  -webkit-box-shadow: 0 0 5px 0 @dark-red;
     -moz-box-shadow: 0 0 5px 0 @dark-red;
          box-shadow: 0 0 5px 0 @dark-red;
  &:active, input:checked + & {
    background: @dark-red;
  }
}

label {
  margin: 0 10px;
  display: inline-block;
}

.open-idea {
  border-left: 3px solid @light-green;
}

.frozen-idea {
  border-left: 3px solid @light-orange;
  .freeze-date {
    color: @dark-red;
  }
}

.closed-idea {
  border-left: 3px solid @light-red;
  .freeze-date, .close-date {
    color: @dark-red;
  }
}

@aside-width: 180px;

.with-aside ~ aside {
  width: @aside-width;
  position: absolute;
  top: 0;
  right: 0;
  padding: @small-margin;
}

.with-aside {
  margin-right: @small-margin + @aside-width;
}

.badge {
  width: 100%;
  color: white;
  -webkit-border-radius: @xsmall-margin;
     -moz-border-radius: @xsmall-margin;
          border-radius: @xsmall-margin;
  padding: @small-margin;
  text-align: center;
  margin: @small-margin 0;
}

.badge-green {
  background: @dark-green;
}

.badge-orange {
  background: @dark-orange;
}

.badge-red {
  background: @dark-red;
}

h3 {
  margin: @small-margin 0;
  font-size: 15px;
}

input[type=radio] {
  display: none;
}

table {
  width: 100%;
  margin: @large-margin 0;
}

th, td {
  padding: @xsmall-margin;
  text-align: left;
}

th {
  border-bottom: 1px solid @light;
}

th.right, td.right {
  text-align: right;
}

tr.center {
  th, td {
    text-align: center;
  }
}

tr:nth-child(even) {
    background-color: @lightest;
}

.positive {
  color: @dark-green;
}

.negative {
  color: @dark-red;
}

.budget {
  color: @dark-orange;
  font-size: 24px;
}

.empty-index {
  font-size: 24px;
  margin: @large-margin;
  background: white;
  border: 1px solid @light;
  padding: @large-margin;
}

.bet-warning {
  color: @light-red;
  font-size: 12.8px;
}

.bet-hint {
  color: @dark-green;
  font-weight: bold;
}
