{% extends "base.html" %}

{% block title %}{{ current_user.nickname }} — {% end %}

{% block content %}
{% set event_type_description = {
  2: "Начисление за первый вход на сайт",
  3: "Сделана ставка",
} %}
<section class="idea">
  <h2>Ваш баланс</h2>
  <table>
    <tr><th>Дата</th><th>Изменение</th><th class="right">Сумма</th></tr>
    {% for event in events %}
    <tr><td>{{ format_date(event["_id"].generation_time) }}</td><td>{{ event_type_description[event["type"]] }}</td><td class="right">TODO</td></tr>
    {% end %}
  </table>
</section>
{% end %}
