<!DOCTYPE html>
<html lang="ru" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% end %}WoT Ideas</title>
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/favicon.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body>
    <header class="navbar navbar-fixed">
      <nav class="navbar-inner">
        <h1 role="banner"><a class="nav" href="/">WoT Ideas</a> <sup>beta</sup></h1><!--
        --><ul class="navbar-nav"><!--
          --><li><a href="/all">Все</a></li><!--
          --><li><a href="/unresolved">Ожидают решения</a></li><!--
          --><li><a href="/closed">Завершенные</a></li><!--
          --><li><a href="/accounts">Игроки</a></li><!--
          -->{% if is_admin %}<li><strong><a href="/new">Добавить событие</a></strong></li>{% end %}<!--
        --></ul><!--
        --><ul class="navbar-nav navbar-right"><!--
          -->{% if current_user %}<li><a href="/profile">{{ current_user.nickname }}</a></li><!--
          --><li><strong><a href="/balance">{{ balance }} монет</a></strong></li><!--
          --><li><a href="/logout">Выйти</a></li><!--
          -->{% else %}<li><form method="post" action="https://api.worldoftanks.ru/wot/auth/login/"><input type="submit" value="Войти" class="link"><input type="hidden" name="application_id" value="{{ application_id }}"><input type="hidden" name="redirect_uri" value="http://localhost:8080/login"></form></li>{% end %}<!--
        --></ul>
      </nav>
    </header>
    <div class="content-inner">
      {% block content %}{% end %}
    </div>
  </body>
  <footer>
    <ul><!--
      --><li>eigenein &copy; 2014</li><!--
      --><li><a href="#">ВКонтакте</a></li><!--
      --><li><a href="#">Предложить событие</a></li><!--
    --></ul>
  </footer>
</html>

