<!DOCTYPE html>
<html lang="ru" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wot Ideas</title>
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body>
    <header class="navbar navbar-fixed">
      <nav class="navbar-inner">
        <h1 role="banner"><a class="nav" href="/">WoT Ideas</a> <sup>beta</sup></h1><!--
        --><ul class="navbar-nav"><!--
          --><li><a href="/">Открытые события</a></li><!--
          --><li><a href="#">Завершенные события</a></li><!--
        --></ul><!--
        --><ul class="navbar-nav navbar-right"><!--
          --><li><a href="#">Предложить событие</a></li><!--
          --><li><a href="#">Мои ставки</a></li><!--
          --><li><a href="#">$176.43</a></li><!--
        --></ul>
      </nav>
    </header>
