<!DOCTYPE html>
<html lang="ru" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wot Ideas</title>
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body>
    <header class="navbar navbar-fixed">
      <nav class="navbar-inner">
        <h1 role="banner"><a class="nav" href="/">WoT Ideas</a> <sup>beta</sup></h1><!--
        --><ul class="navbar-nav"><!--
          --><li><a href="/">Все</a></li><!--
          --><li><a href="/">Открытые</a></li><!--
          --><li><a href="#">Завершенные</a></li><!--
        --></ul><!--
        --><ul class="navbar-nav navbar-right"><!--
          -->{% if current_user %}<li><a href="#" title="Ваши ставки">{{ current_user.nickname }}</a></li><!--
          --><li><a href="#" title="Баланс">123.45</a></li><!--
          --><li><a href="/logout">Выйти</a></li><!--
          -->{% else %}<li><form method="post" action="https://api.worldoftanks.ru/wot/auth/login/"><input type="submit" value="Войти"><input type="hidden" name="application_id" value="{{ application_id }}"><input type="hidden" name="redirect_uri" value="http://localhost:8080/login"></form></li>{% end %}<!--
        --></ul>
      </nav>
    </header>
