{% extends "base.html" %}

{% block content %}
<section class="annotation">
  <p>
    <strong>World of Tanks Ideas</strong> — это online-проект, объединяющий идеи и факты о планах и развитии игры <a href="http://worldoftanks.ru/" target="_blank">World of Tanks</a>.<br>Решайте, произойдет или не произойдет какое-либо событие в истории игры и делайте свои ставки.
  </p>
</section>

{% if not ideas %}
<div class="empty-index">
  {% if status == "unresolved" %}Решения по всем событиям приняты.
  {% elif status == "closed" %}Пока нет завершенных событий.
  {% else %}Нет новых событий.
  {% end %}<a href="/all">Просмотреть все события</a>
</div>
{% end %}
{% for idea in ideas %}
<section class="idea {% if is_idea_closed(idea) %}closed-idea{% elif is_idea_frozen(idea) %}frozen-idea{% else %}open-idea{% end %}">
  <h2><a href="/i/{{ encode_object_id(idea['_id']) }}">{{ idea["title"] }}</a></h2>
  <small>Заморозка: <strong class="freeze-date">{{ format_date(idea["freeze_date"]) }} UTC</strong>. Завершение: <strong class="close-date">{{ format_date(idea["close_date"]) }} UTC</strong>.</small>
  {% for line in idea["description"] %}<p>{{ line }}</p>{% end %}
</section>
{% end %}

<div class="pager"><ul><!--
  -->{% for i in range(1, page) %}<li><a href="{{ path }}?page={{ i }}">{{ i }}</a></li>{% end %}<!--
  --><li><strong>{{ page }}</strong></li><!--
  --><li><a href="{{ path }}?page={{ page + 1 }}">Следующая страница →</a></li><!--
--></ul></div>
{% end %}
