{% include "header.html" %}
<div class="content-inner">
  <section class="annotation">
    <p>
      <strong>World of Tanks Ideas</strong> — это online-проект, объединяющий идеи и факты про планы и развитие игры <a href="http://worldoftanks.ru/" target="_blank">World of Tanks</a>.<br>Решайте, произойдет или не произойдет какое-либо событие и делайте свои ставки.
    </p>
  </section>
  <section class="idea">
    <h2><a href="#">В обновлении 9.2 произойдет нерф всех САУ</a></h2>
    <small>Заморозка: <strong>1 августа 2014</strong>. Завершение: <strong>1 сентября 2014</strong>.</small>
    <p>
      «Укрепрайоны» — новый игровой режим для клановых игроков. Он доступен в клиенте игры и никак не связан с «Мировой войной» и кампаниями на Глобальной карте.
    </p>
    <p>
      Перебалансировка боевой техники.
    </p>
    <p>
      Внесены доработки и исправления на карты: «Священная долина», «Утёс», «Песчаная река», «Скрытая деревня», «Эрленберг», «Эль-Халлуф», «Аэродром», «Комарин». Добавлена переделанная атмосферная карта «Прохоровка» под новым названием «Огненная дуга».
    </p>
    <p>
      Во внутриигровой магазин добавлена советская ПТ-САУ СУ-85И.
    </p>
    <div class="idea-footer"><ul><li><a href="#">Сделать ставку</a></li></ul></div>
  </section>
  <section class="idea">
    <h2><a href="#">В обновлении 9.2 произойдет нерф всех САУ</a></h2>
    <p>
      «Укрепрайоны» — новый игровой режим для клановых игроков. Он доступен в клиенте игры и никак не связан с «Мировой войной» и кампаниями на Глобальной карте.
    </p>
    <p>
      Перебалансировка боевой техники.
    </p>
    <p>
      Внесены доработки и исправления на карты: «Священная долина», «Утёс», «Песчаная река», «Скрытая деревня», «Эрленберг», «Эль-Халлуф», «Аэродром», «Комарин». Добавлена переделанная атмосферная карта «Прохоровка» под новым названием «Огненная дуга».
    </p>
    <p>
      Во внутриигровой магазин добавлена советская ПТ-САУ СУ-85И.
    </p>
    <div class="idea-footer"><ul><li class="bet">Ваша ставка: <strong>$15</strong> на <strong>«Верно»</strong>.</li><li><a href="#">Изменить ставку</a></li><li><a href="#">Снять ставку</a></li></ul></div>
  </section>
</div>
{% include "footer.html" %}
